<html>
<body>
<table width="60%" border="0" cellspacing="8" cellpadding="0" align="center">
              <tr>
                <td></td>

              </tr>
              <tr>
                <th>MECANICA AUTOMOTRIZ </th>
                </tr>
              <tr>
                <td><blockquote>
                  <p>La carrera de Mec&aacute;nica Automotriz surge como respuesta a la necesidad  de formar profesionales para la actividad automotriz, tanto como el  &aacute;mbito empresarial como p&uacute;blico, teniendo conocimientos en la  investigaci&oacute;n, dise&ntilde;o, instalaci&oacute;n, operaci&oacute;n, mantenimiento,  reparaci&oacute;n, diagn&oacute;stico de equipos y sistemas automotrices,  administraci&oacute;n adecuada de los recursos existentes e innovaci&oacute;n y  desarrollo de nuevas tecnolog&iacute;as. Adem&aacute;s de los conocimientos t&eacute;cnico &ndash;  pr&aacute;cticos se har&aacute; &eacute;nfasis en aspectos de organizaci&oacute;n y planificaci&oacute;n.</p>

                </blockquote>                </tr>
              <tr>
                <th><strong>T&iacute;tulo de Egreso: </strong>                </tr>
              <tr>
                <td>
                  <p>T&eacute;cnico/a Superior en Mec&aacute;nica Automotriz</td>

              </tr>
              <tr>
                <th><strong>Perfil de/la egresado/a:</strong></th>
              </tr>
              <tr>
                <td><blockquote>
                  <p align="justify">El/la T&eacute;cnico/a Superior en  Mec&aacute;nica Automotriz egresado/a de INFOCAL es un/a profesional que est&aacute;  capacitado/a para desempe&ntilde;ar mandos intermedios en la industria  automotriz. Fundamentado en su formaci&oacute;n Te&oacute;rico &ndash; Pr&aacute;ctica su  productividad en la empresa se deriva del pleno conocimiento de las  herramientas y tecnolog&iacute;as propias de la profesi&oacute;n.</p>

               
                  <p align="justify">Ejecuta  responsablemente los trabajos de la especialidad respetando las  prescripciones y normas de seguridad y calidad, considerando la  protecci&oacute;n del medioambiente y utilizando los materiales y energ&iacute;a  racionalmente, su ense&ntilde;anza ha sido orientada a reforzar la iniciativa  propia y la capacidad de trabajar en equipo.</p>
                  
                  <p align="justify">El/la  T&eacute;cnico/a Superior en Mec&aacute;nica Automotriz puede desempe&ntilde;arse en  empresas de servicios automotrices, empresas agr&iacute;colas, plantas  ensambladoras, importadoras del rubro, estaciones de servicio y  garajes, como tambi&eacute;n en empresas automotrices en el &aacute;rea de venta,  repuestos y reparaci&oacute;n de veh&iacute;culos, o bien prestando servicios de  manera independiente.</p>


                  </blockquote>                  </td>
              </tr>
              <tr>
                <th>&nbsp;</th>
              </tr>
            </table>
            </body>
</html>