
 <table width="50%" border="0" cellspacing="8" cellpadding="0" align="center">
              <tr>
                <td></td>

              </tr>
              <tr>
                <th>SISTEMA CENTRO FIJO</th>
              </tr>
              <tr>
                <th>&iquest;QU&Eacute; ES LA FORMACI&Oacute;N BAJO EL SISTEMA&nbsp; CENTRO FIJO?</th>

              </tr>
              <tr>
                <td><blockquote>
                  <p>Formaci&oacute;n Profesional destinada a bachilleres, presentada como una  excelente alternativa a la educaci&oacute;n universitaria tradicional, con  horarios que permiten al alumno/a realizar actividades paralelas ya sea  de estudio o trabajo. El objetivo pedag&oacute;gico de INFOCAL consiste en  desarrollar capacidades pr&aacute;cticas de operatividad del alumnado,  apoyados en s&oacute;lidos conocimientos te&oacute;ricos, creando en &eacute;l actitudes  positivas para el desarrollo profesional.</p>
                </blockquote>                </tr>

              <tr>
                <th>DURACI&Oacute;N:
                </tr>
              <tr>
                <td><blockquote>
                  <p>Tres a&ntilde;os, todos los d&iacute;as, de lunes a viernes, en horarios ma&ntilde;ana, tarde y noche. </p>
                </blockquote></td>

              </tr>
              <tr>
                <th>CALIDAD:</th>
              </tr>
              <tr>
                <td><blockquote>
                  <p>La calidad en la Formaci&oacute;n Profesional es la totalidad de  caracter&iacute;sticas que influyen en la capacidad de la Instituci&oacute;n para  desarrollar sus servicios, a trav&eacute;s de programas que permiten que sus  egresados/as posean competencias laborales para responder de manera  eficiente y eficaz a las demandas econ&oacute;micas y sociales de la comunidad  y faciliten su desempe&ntilde;o cr&iacute;tico y creativo en la actividad productiva. </p>

                </blockquote></td>
              </tr>
              <tr>
                <th>CARRERAS QUE SE OFERTAN EN EL SISTEMA CENTRO FIJO:</th>
              </tr>
              <tr>
                <td><blockquote>
                  <ul>

                    <li><a href="automotriz.php.htm" tppabs="http://www.infocalcbba.edu.bo/automotriz.php">Mecanica Automotriz</a>.</li>
                    <li><a href="industrial.php.htm" tppabs="http://www.infocalcbba.edu.bo/industrial.php">Mecanica Industrial</a>.</li>
                    <li><a href="electrotecnia.php.htm" tppabs="http://www.infocalcbba.edu.bo/electrotecnia.php">Electrotecnia Industrial</a>.</li>
                    <li><a href="gastronomia.php.htm" tppabs="http://www.infocalcbba.edu.bo/gastronomia.php">Gastronom&iacute;a</a>.</li>

                    <li><a href="parvulario.php.htm" tppabs="http://www.infocalcbba.edu.bo/parvulario.php">Parvulario</a>.</li>
                    <li><a href="turismo.php.htm" tppabs="http://www.infocalcbba.edu.bo/turismo.php">Turismo y Hoteleria</a>.</li>
                    <li><a href="gas.php.htm" tppabs="http://www.infocalcbba.edu.bo/gas.php">Instalaciones Integrales y Gas</a>.  </li>
                  </ul>
                  </blockquote></td>
              </tr>

              <tr>
                <th>REQUISITOS PARA EL INGRESO:</th>
              </tr>
              <tr>
                <td><blockquote>
                  <ul>
                    <li>Bachillerato aprobado.</li>
                    <li>Aprobar el examen de ingreso.</li>

                    <li>Fotocopia del t&iacute;tulo de bachiller o libreta del &uacute;ltimo a&ntilde;o curso vencido.</li>
                    <li>Fotocopia del certificado de nacimiento computarizado.</li>
                    <li>Fotocopia del documento de identidad.</li>
                    <li>3 fotograf&iacute;as 3x4 a color fondo azul.</li>
                  </ul>

                </blockquote></td>
              </tr>
              <tr>
                <th>TITULO QUE SE OTORGA:</th>
              </tr>
              <tr>
                <td><blockquote>
                    <p>T&eacute;cnico Superior en la especialidad elegida.</p>

                </blockquote></td>
                </tr>
              <tr>
                <th>VENTAJAS DEL SISTEMA CENTRO FIJO:</th>
                </tr>
              <tr>
                <td><blockquote>
                    <p>La vinculaci&oacute;n directa que tiene INFOCAL con la Federaci&oacute;n de Entidades  Empresariales&nbsp;Privadas de Cochabamba y el&nbsp; reconocimiento que la  sociedad ha otorgado a INFOCAL en el campo de la Formaci&oacute;n Profesional,  permite que los/ las alumnos/as tengan una buena acogida en las  diferentes empresas y o centros de trabajo para realizar pasant&iacute;as/  pr&aacute;cticas enmarcadas en&nbsp; el proceso de su formaci&oacute;n como futuros/as  profesionales en los diferentes rubros o especialidades.</p>

                </blockquote></td>
                </tr>
              <tr>
                <th>&nbsp;</th>
                </tr>
              
            </table>