 <html >
<BODY >
<table width="60%" border="0" cellspacing="8" cellpadding="0" align="center">
              <tr>
                <td></td>

              </tr>
              <tr>
                <th>PARVULARIO </th>
                </tr>
              <tr>
                <td><blockquote>
                  <p align="justify">La carrera de T&eacute;cnico/a en Parvulario responde a la necesidad de formar  personas con vocaci&oacute;n de servicio que posean conocimientos en la  investigaci&oacute;n, planificaci&oacute;n y gesti&oacute;n de la actividad educativa  relacionada con los ni&ntilde;os/as de 0 a 6 a&ntilde;os, en el marco del servicio  social y el desarrollo sostenible.</p>

                  </blockquote>              </tr>
              <tr>
                <th><strong>T&iacute;tulo de Egreso: </strong>                </tr>
              <tr>
                <td>
                  <p>T&eacute;cnico/a Superior en Parvulario </td>

              </tr>
              <tr>
                <th><strong>Perfil de/la egresado/a:</strong></th>
              </tr>
              <tr>
                <td><blockquote>
                  <p>El/la profesional egresado/a tendr&aacute; conocimiento  sobre el desarrollo f&iacute;sico y ps&iacute;quico del/la ni&ntilde;o/a desde su nacimiento  hasta los 6 a&ntilde;os, manejar&aacute; t&eacute;cnicas instrumentales propias del nivel  preescolar, integrado en su labor a la familia y a la comunidad, lo que  le permitir&aacute; estar en condiciones de analizar y planificar actividades  educativas para ni&ntilde;os/as de esta edad, contemplando aspectos  econ&oacute;micos, sociales y culturales bajo el enfoque del desarrollo  integral y sostenible. </p>

                  <p>La  formaci&oacute;n obtenida le permitir&aacute; incorporarse al mercado laboral en  condiciones de asumir tareas de decisi&oacute;n y trabajar en equipo.</p>
                  <p><strong>Misi&oacute;n: </strong></p>
                  <p>Formar  T&eacute;cnicos/as Superiores en Educaci&oacute;n Parvularia calificados/as capaces  de ejecutar responsablemente la conducci&oacute;n de un grupo de ni&ntilde;os/as de 0  a 6 a&ntilde;os, contribuyendo a su desarrollo f&iacute;sico, social y mental, con la  utilizaci&oacute;n de conocimientos psicopedag&oacute;gicos, musicales y otros;  s&oacute;lidos principios que dignifiquen lo humano en cuanto a valores,  saberes y pr&aacute;cticas, que aunados a una actitud responsable permitan la  &oacute;ptima atenci&oacute;n del/la ni&ntilde;o/a menor de 6 a&ntilde;os, impulsando de forma  permanente su desarrollo integral, en la familia y la comunidad, en  armon&iacute;a con los avances de la pedagog&iacute;a, la cultura, la ciencia y la  tecnolog&iacute;a. </p>

                  </blockquote>                  </td>
              </tr>
              <tr>
                <th>&nbsp;</th>
              </tr>
            </table>

     
</body>


