 <html >
<BODY >
<table width="60%" border="0" cellspacing="8" cellpadding="0" align="center">
              <tr>
                <td></td>

              </tr>
              <tr>
                <th>INSTALACIONES INTEGRALES Y GAS </th>
                </tr>
              <tr>
                <td><blockquote>
                  <p align="justify">La carrera de Instalaciones Integrales y de Gas corresponde a la  necesidad de ampliar el alcance de la actividad laboral en el rubro de  las instalaciones domiciliarias e industriales, profundizando en la  investigaci&oacute;n y planificaci&oacute;n, en el marco de un desarrollo tecnol&oacute;gico  en instalaciones.</p>

                  </blockquote>              </tr>
              <tr>
                <th><strong>T&iacute;tulo de Egreso: </strong>                </tr>
              <tr>
                <td>
                  <p>T&eacute;cnico/a Superior en Instalaciones Integrales y Gas. </td>

              </tr>
              <tr>
                <th><strong>Perfil de/la egresado/a:</strong></th>
              </tr>
              <tr>
                <td><blockquote>
                  <p align="justify">El/la egresado/a de esta carrera estar&aacute; capacitado/a  para realizar tareas t&eacute;cnicas en las siguientes &aacute;reas: Instalaciones de  Gas, Fontaner&iacute;a, Refrigeraci&oacute;n, Electricidad, Calefacci&oacute;n y Aire  Acondicionado, con &eacute;nfasis en el mantenimiento y la administraci&oacute;n de  servicios, planificaci&oacute;n, supervisi&oacute;n, documentaci&oacute;n, desarrollo de  proyectos y seguridad laboral. </p>

                  <p><strong>Objetivo: </strong></p>
                  <p align="justify">La  formaci&oacute;n est&aacute; orientada al desarrollo de competencias requeridas para  dise&ntilde;ar y calcular Instalaciones de Gas, Fontaner&iacute;a, Electricidad,  Refrigeraci&oacute;n, Calefacci&oacute;n y Aire Acondicionad, aplicando las t&eacute;cnicas  que optimicen la organizaci&oacute;n y ejecuci&oacute;n de estas instalaciones y su  mantenimiento. </p>


                  </blockquote>                  </td>
              </tr>
              <tr>
                <th>&nbsp;</th>
              </tr>
            </table>

</body>


