<table width="60%" border="0" cellspacing="8" cellpadding="0" align ="center">

              <tr>
                <td></td>
              </tr>
              <tr>
                <th>CAPACITACI&Oacute;N</th>
              </tr>
              <tr>
                <th>&iquest;QU&Eacute; ES LA CAPACITACI&Oacute;N?</th>

              </tr>
              <tr>
                <td><blockquote>
                  <p align="justify">La Capacitaci&oacute;n desarrolla destrezas o habilidades en el o la participante.</p>
                  </blockquote>                
                </tr>
              <tr>
                <th><strong>CARACTER&Iacute;STICAS:</strong>

                </tr>
              <tr>
                <td><blockquote>
                  <p>Sistema Modular Instrucci&oacute;n : 30% teor&iacute;a y 70% pr&aacute;ctica.</p>
                </blockquote></td>
              </tr>
              <tr>

                <th>CALIDAD:</th>
              </tr>
              <tr>
                <td><blockquote>
                  <p>La calidad en la Formaci&oacute;n Profesional es la totalidad de  caracter&iacute;sticas que influyen en la capacidad de la Instituci&oacute;n para  desarrollar sus servicios, a trav&eacute;s de programas que permiten que sus  egresados/as posean competencias laborales para responder de manera  eficiente y eficaz a las demandas econ&oacute;micas y sociales de la comunidad  y faciliten su desempe&ntilde;o cr&iacute;tico y creativo en la actividad productiva. </p>

                </blockquote></td>
              </tr>
              <tr>
                <th><strong>BRINDA:</strong></th>
              </tr>
              <tr>
                <td><blockquote>
                  <p align="justify"> El programa de Capacitaci&oacute;n ofrece cursos en las &aacute;reas de:</p>

                  <ul>
                    <li>Computaci&oacute;n</li>
                    <li>Electr&oacute;nica</li>
                    <li>Electricidad</li>
                    <li>Hoteler&iacute;a/Gastronom&iacute;a</li>

                    <li>Mec&aacute;nica Automotriz</li>
                    <li>Instalaciones de Gas</li>
                    <li>Proyectos de Instalaciones </li>
                    <li>Mec&aacute;nica Industrial</li>
                    <li>Carpinter&iacute;a</li>

                    <li>Parvulario (Educaci&oacute;n Inicial) </li>
                    <li>Y otros cursos a solicitud de empresas aportantes </li>
                  </ul>
                </blockquote></td>
              </tr>
              <tr>
                <th><strong>CERTIFICACIONES:</strong></th>

              </tr>
              <tr>
                <td><blockquote>
                  <ul>
                    <li>Certificado de aprobaci&oacute;n </li>
                    <li>Certificado de asistencia </li>
                    </ul>

                </blockquote></td>
              </tr>
              <tr>
                <th>REQUISITOS PARA EL INGRESO:</th>
              </tr>
              <tr>
                <td><blockquote>
                    <ul>

                            <li>Tener 17 a&ntilde;os cumplidos</li>
                                        <li>Haber vencido el ciclo primario</li>
                          </ul>
                    </blockquote></td>
                </tr>
              <tr>
                <th><strong>VENTAJAS DE LA CAPACITACI&Oacute;N:</strong></th>

                </tr>
              <tr>
                <td><blockquote>
                    <ul>
                      <li>Horarios vespertinos y nocturnos</li>
                      <li> Planificaci&oacute;n y organizaci&oacute;n de cursos de acuerdo a requerimientos espec&iacute;ficos del sector empresarial</li>

                    </ul>
                </blockquote></td>
                </tr>
              <tr>
                <th>&nbsp;</th>
                </tr>
              
            </table>