
<table width="50%" border="0" cellspacing="8" cellpadding="0" align="center">
              <tr>
                <td></td>
              </tr>
              <tr>

                <th><div align="center" class="recuadro1_negro"><strong>CALENDARIO ACADEMICO<br />
  Gestión 2010<br />
                  Enero / Julio </strong></div></th>
              </tr>
              <tr>
                <th background="3_e.jpg" tppabs="http://www.infocalcbba.edu.bo/images/3_e.jpg">ENERO</th>
              </tr>

              <tr>
                <th><table width="100%%" border="1" cellspacing="0">
                  <tr>
                    <td width="18%" bgcolor="#CCCCCC"><div align="center">DIA</div></td>
                    <td width="82%" bgcolor="#CCCCCC"><div align="center">ACTIVIDADES</div></td>
                  </tr>
                  <tr>
                    <td class="recuadro1"><div align="center">1</div></td>

                    <td class="recuadro1">A&Ntilde;O NUEVO -PR&Oacute;SPERO 2010-</td>
                  </tr>
                  <tr>
                    <td class="recuadro1"><div align="center">11</div></td>
                    <td class="recuadro1">Inicio de Actividades Administrativas </td>
                  </tr>

                  
                  <tr >
                    <td rowspan="2" class="recuadro1"><div align="center">11 - 21 </div></td>
                    <td class="recuadro1"><strong>Recepci&oacute;n solicitudes de Beca / Descuentos para la gesti&oacute;n I/2010</strong></td>
                  </tr>
                  <tr >
                    <td class="recuadro1">Inscripci&oacute;n y toma de asignaturas, gesti&oacute;n I/2010 estudiantes antiguos(as)</td>

                  </tr>
                  <tr >
                    <td class="recuadro1"><div align="center">22</div></td>
                    <td class="recuadro1"><strong>Feriado: Creaci&oacute;n del Estado Plurinacional de Bolivia</strong></td>
                  </tr>
                  <tr >
                    <td class="recuadro1"><div align="center">25</div></td>

                    <td class="recuadro1"><strong>Inicio de clases gesti&oacute;n I/2010</strong></td>
                  </tr>
                </table></th>
              </tr>
              
              <tr>
                <th>FEBRERO                </tr>
              <tr>

                <th><table width="100%%" border="1" cellspacing="0">
                    <tr>
                      <td width="18%" bgcolor="#CCCCCC"><div align="center">DIA</div></td>
                      <td width="82%" bgcolor="#CCCCCC"><div align="center">ACTIVIDADES</div></td>
                    </tr>
                    <tr>
                      <td class="recuadro1"><div align="center">15 - 16 </div></td>

                      <td class="recuadro1">Feriado: Fiestas de carnaval</td>
                    </tr>
                    <tr>
                      <td class="recuadro1"><div align="center">22</div></td>
                      <td class="recuadro1">Inicio de clases de acuerdo a la agenda del Ministerio de Educaci&oacute;n</td>
                    </tr>
                    <tr>

                      <td rowspan="2" class="recuadro1"><div align="center">22 - 25 </div></td>
                      <td class="recuadro1">Presentaci&oacute;n a los/las estudiantes nuevos el reglamento acad&eacute;mico de INFOCAL (Bienestar Institucional)</td>
                    </tr>
                    <tr>
                      <td class="recuadro1">Primera opci&oacute;n de ex&aacute;menes de mesa</td>

                    </tr>
                    <tr>
                      <td class="recuadro1"><div align="center"><strong>26</strong></div></td>
                      <td class="recuadro1">&Uacute;ltimo d&iacute;a para Adici&oacute;n, Retiro de Asignaturas.</td>
                    </tr>
                </table></th>
                </tr>

              <tr>
                <th>MARZO</th>
              </tr>
              <tr>
                <th><table width="100%%" border="1" cellspacing="0">
                    <tr>
                      <td width="18%" bgcolor="#CCCCCC"><div align="center">DIA</div></td>
                      <td width="82%" bgcolor="#CCCCCC"><div align="center">ACTIVIDADES</div></td>

                    </tr>
                    <tr>
                      <td class="recuadro1"><div align="center">1</div></td>
                      <td class="recuadro1">Convocator&iacute;a a examenes de grado</td>
                    </tr>
                    <tr>
                      <td class="recuadro1"><div align="center">4</div></td>

                      <td class="recuadro1">&Uacute;ltimo d&iacute;a para entrega de notas de la primera opci&oacute;n de ex&aacute;menes de mesa</td>
                    </tr>
                    <tr>
                      <td class="recuadro1"><div align="center">5</div></td>
                      <td class="recuadro1">&Uacute;ltimo d&iacute;a para Adici&oacute;n de asiganturas por aprobaci&oacute;n en examen de mesa</td>

                    </tr>
                    <tr>
                      <td class="recuadro1"><div align="center">15 - 27 </div></td>
                      <td class="recuadro1">PRIMEROS PARCIALES</td>
                    </tr>

                </table></th>
                </tr>

              <tr>
                <th background="3_e.jpg" tppabs="http://www.infocalcbba.edu.bo/images/3_e.jpg">ABRIL</th>
              </tr>
              <tr>
                <th><table width="100%%" border="1" cellspacing="0">
                    <tr>
                      <td width="18%" bgcolor="#CCCCCC"><div align="center">DIA</div></td>
                      <td width="82%" bgcolor="#CCCCCC"><div align="center">ACTIVIDADES</div></td>

                    </tr>
                    <tr>
                      <td class="recuadro1"><div align="center">2</div></td>
                      <td class="recuadro1">Feriado: Viernes Santo (Semana Santa)</td>
                    </tr>
                    <tr>
                      <td class="recuadro1"><div align="center">5 - 30 </div></td>

                      <td class="recuadro1"><strong>Ex&aacute;menes de grado y defensas de proyectos de grado</strong></td>
                    </tr>
                    <tr>
                      <td rowspan="2" class="recuadro1"><div align="center">14</div></td>
                      <td class="recuadro1"><strong>&Uacute;ltimo d&iacute;a para entrega de notas a registros del PRIMER PARCIAL</strong></td>
                    </tr>

                    <tr>
                      <td class="recuadro1">&Uacute;ltimo d&iacute;a para entrega de documentaci&oacute;n de Convalidaciones (estudiantes de otros institutos o universidades)</td>
                    </tr>
                    <tr>
                      <td class="recuadro1"><div align="center"><strong>16</strong></div></td>
                      <td class="recuadro1">&Uacute;ltimo d&iacute;a entrega de notas de convalidaci&oacute;n (Jefes de Carrera)</td>

                    </tr>
                    <tr>
                      <td class="recuadro1"><div align="center">30</div></td>
                      <td class="recuadro1">&Uacute;ltimo d&iacute;a para la asignaci&oacute;n de pasant&iacute;as</td>
                    </tr>

                </table></th>

                </tr>
              <tr>
                <th background="3_e.jpg" tppabs="http://www.infocalcbba.edu.bo/images/3_e.jpg">MAYO</th>
              </tr>
              <tr>
                <th><table width="100%%" border="1" cellspacing="0">
                    <tr>
                      <td width="18%" bgcolor="#CCCCCC"><div align="center">DIA</div></td>

                      <td width="82%" bgcolor="#CCCCCC"><div align="center">ACTIVIDADES</div></td>
                    </tr>
                    <tr>
                      <td class="recuadro1"><div align="center">1</div></td>
                      <td class="recuadro1">Feriado: D&iacute;a    del trabajo.</td>
                    </tr>
                    <tr>

                      <td class="recuadro1"><div align="center">3 - 15 </div></td>
                      <td class="recuadro1">SEGUNDOS PARCIALES.</td>
                    </tr>
                    <tr>
                      <td class="recuadro1"><div align="center">17 - 28 </div></td>
                      <td class="recuadro1"><strong>Evaluaci&oacute;n del desempe&ntilde;o docente en INFOCAL.</strong></td>

                    </tr>
                    <tr>
                      <td class="recuadro1"><div align="center">24</div></td>
                      <td class="recuadro1"><strong>&Uacute;ltimo d&iacute;a para entrega de notas a registros del SEGUNDO PARCIAL.</strong></td>
                    </tr>
                    <tr>
                      <td class="recuadro1"><div align="center">31</div></td>

                      <td class="recuadro1"><strong>Consolidado de horarios y turnos para la gesti&oacute;n II/2010.</strong></td>
                    </tr>
                    <tr>
                      <td class="recuadro1"><div align="center">31</div></td>
                      <td class="recuadro1">Inscripci&oacute;n y toma de asignaturas, gesti&oacute;n II/2010 nuevos(as) estudiantes . </td>
                    </tr>

                </table></th>
                </tr>
              <tr>
                <th background="3_e.jpg" tppabs="http://www.infocalcbba.edu.bo/images/3_e.jpg">JUNIO</th>
              </tr>
              <tr>
                <th><table width="100%%" border="1" cellspacing="0">
                    <tr>

                      <td width="18%" bgcolor="#CCCCCC"><div align="center">DIA</div></td>
                      <td width="82%" bgcolor="#CCCCCC"><div align="center">ACTIVIDADES</div></td>
                    </tr>
                    <tr>
                      <td class="recuadro1"><div align="center">3</div>                        </td>
                      <td class="recuadro1">Feriado: Corpus Christi.</td>

                    </tr>
                    
                    <tr>
                      <td rowspan="2" class="recuadro1"><div align="center">4</div></td>
                      <td class="recuadro1">&Uacute;ltimo d&iacute;a para entrega de notas de la segunda opci&oacute;n de ex&aacute;menes de mesa.</td>
                    </tr>
                    <tr>

                      <td class="recuadro1">&Uacute;ltimo d&iacute;a para habilitaci&oacute;n a ex&aacute;menes finales.</td>
                    </tr>
                    <tr>
                      <td class="recuadro1"><div align="center"><strong>6</strong></div></td>
                      <td class="recuadro1">D&iacute;a    del Maestro.</td>

                    </tr>
                    <tr>
                      <td class="recuadro1"><div align="center">7 - 11</div></td>
                      <td class="recuadro1">Segunda opci&oacute;n de ex&aacute;menes de mesa.</td>
                    </tr>
                    <tr>
                      <td class="recuadro1"><div align="center">11</div></td>

                      <td class="recuadro1"><strong>Acto de colaci&oacute;n gesti&oacute;n II/2009. </strong></td>
                    </tr>
                    <tr>
                      <td class="recuadro1"><div align="center">21</div></td>
                      <td class="recuadro1"><strong>Feriado: Por el A&ntilde;o nuevo Aymara.</strong></td>
                    </tr>

                    <tr>
                      <td class="recuadro1"><div align="center">22 - 30 </div></td>
                      <td class="recuadro1">EX&Aacute;MENES FINALES.</td>
                    </tr>
                </table></th>
                </tr>
              <tr>

                <th background="3_e.jpg" tppabs="http://www.infocalcbba.edu.bo/images/3_e.jpg"><strong>JULIO</strong></th>
                </tr>
              <tr>
                <th><table width="100%%" border="1" cellspacing="0">
                    <tr>
                      <td width="18%" bgcolor="#CCCCCC"><div align="center">DIA</div></td>
                      <td width="82%" bgcolor="#CCCCCC"><div align="center">ACTIVIDADES</div></td>

                    </tr>
                    <tr>
                      <td class="recuadro1"><div align="center">1 - 5 </div></td>
                      <td class="recuadro1">EX&Aacute;MENES FINALES</td>
                    </tr>
                    <tr>
                      <td class="recuadro1"><div align="center">9</div></td>

                      <td class="recuadro1">&Uacute;ltimo d&iacute;a para entrega de notas finales, y de habilitados para ex&aacute;menes de segunda instancia</td>
                    </tr>
                    
                    <tr>
                      <td class="recuadro1"><div align="center">12 - 14 </div></td>
                      <td class="recuadro1">Ex&aacute;menes de segunda Instancia</td>
                    </tr>

                    <tr>
                      <td class="recuadro1"><div align="center">16</div></td>
                      <td class="recuadro1">Entrega de Boletines de notas</td>
                    </tr>
                    <tr>
                      <td rowspan="2" class="recuadro1"><div align="center">19 - 23 </div></td>
                      <td class="recuadro1">Inscripci&oacute;n y toma de asignaturas, gesti&oacute;n II/2010 estudiantes antiguos(as)</td>

                    </tr>
                    <tr>
                      <td class="recuadro1">Recepci&oacute;n solicitudes de Beca / Descuentos para la gesti&oacute;n II/2010</td>
                    </tr>
                    <tr>
                      <td class="recuadro1"><div align="center">26</div></td>
                      <td class="recuadro1">Inicio de clases gesti&oacute;n II/2010</td>

                    </tr>
                </table></th>
                </tr>
              <tr>
                <th>&nbsp;</th>
              </tr>
            </table>
