 <html >
<BODY >
<table width="60%" border="0" cellspacing="8" cellpadding="0" align="center">
              <tr>
                <td></td>

              </tr>
              <tr>
                <th>TURISMO Y HOTELERIA  </th>
                </tr>
              <tr>
                <td><blockquote>
                  <p align="justify">El/la T&eacute;cnico Superior en Servicios Tur&iacute;sticos y Hoteler&iacute;a puede  desempe&ntilde;arse en Agencias de Viajes, L&iacute;neas A&eacute;reas, Empresas de Turismo  Receptivo, Emisivo, Interno, Hoteles y en general en organismos de  turismo p&uacute;blicos o privados.</p>

                  </blockquote>              </tr>
              <tr>
                <th><strong>T&iacute;tulo de Egreso: </strong>                </tr>
              <tr>
                <td>
                  <p>T&eacute;cnico/a Superior en Turismo y Hoteleria. </td>

              </tr>
              <tr>
                <th><strong>Perfil de/la egresado/a:</strong></th>
              </tr>
              <tr>
                <td><blockquote>
                  <p>El/la profesional egresado/a est&aacute; capacitado/a para  planificar, programar, ejecutar y controlar servicios tur&iacute;sticos en las  &aacute;reas de Turismo Receptivo, Emisivo e interno, as&iacute; como desarrollar  gestiones de ventas. </p>

                  <p>Su  formaci&oacute;n tambi&eacute;n lo/a habilita para prestar asistencia en proyectos de  desarrollo tur&iacute;stico contemplando los aspectos econ&oacute;micos, sociales y  culturales bajo el enfoque de un turismo sostenible. </p>

                  <p>En  el campo de la hoteler&iacute;a est&aacute; capacitado/a para ocupar mandos medios en  las empresas del rubro hotelero y gastron&oacute;mico. Toda la formaci&oacute;n ha  sido enriquecida con pasant&iacute;as anuales en las empresas del rubro  Tur&iacute;stico y Hotelero, asegurando una integraci&oacute;n del proceso  ense&ntilde;anza-aprendizaje, lo que le permite incorporarse r&aacute;pidamente en el  mercado laboral tanto en el &aacute;mbito empresarial privado como p&uacute;blico.</p>


                  </blockquote>                  </td>
              </tr>
              <tr>
                <th>&nbsp;</th>
              </tr>
            </table>

     
</body>


