 <html >
<BODY >
<table width="60%" border="0" cellspacing="8" cellpadding="0" align="center">
              <tr>
                <td></td>

              </tr>
              <tr>
                <th>ELECTROTECNIA INDUSTRIAL </th>
                </tr>
              <tr>
                <td><blockquote>
                  <p>El &aacute;rea de Electrotecnia responde a la necesidad de tecnificar y  modernizar la actividad el&eacute;ctrica de micro empresas y empresas  industriales de nuestro medio, para un desarrollo sostenible.</p>

                </blockquote>                </tr>
              <tr>
                <th><strong>T&iacute;tulo de Egreso: </strong>                </tr>
              <tr>
                <td>
                  <p>T&eacute;cnico/a Superior en Electrotecnia Industrial</td>

              </tr>
              <tr>
                <th><strong>Perfil de/la egresado/a:</strong></th>
              </tr>
              <tr>
                <td><blockquote>
                  <p>El/la T&eacute;cnico/a Superior en Electrotecnia Industria, es un/a  profesional capacitado/a para desempe&ntilde;arse efectivamente en  planificaci&oacute;n, direcci&oacute;n, ejecuci&oacute;n, y supervisi&oacute;n de obras el&eacute;ctricas  en peque&ntilde;as y grandes empresas, de tal manera que &eacute;stas est&eacute;n acordes a  normas el&eacute;ctricas en vigencia y al avance tecnol&oacute;gico. </p>

                  <p>El/la T&eacute;cnico/a Superior en Electrotecnia Industrial egresado/a de INFOCAL es un/a profesional que est&aacute; capacitado/a para: </p>
                  <ul>
                    <li> Interpretar planos el&eacute;ctricos y electr&oacute;nicos. </li>
                    <li> Programar y planificar el trabajo del personal a su cargo. </li>

                    <li>Establecer el uso de la maquinaria, los materiales y las herramientas adecuadas. </li>
                    <li> Dirigir, ejecutar y/o supervisar instalaciones el&eacute;ctricas. </li>
                    <li> Dise&ntilde;ar esquemas el&eacute;ctricos de acuerdo a normas vigentes. </li>
                    <li>Ejecutar c&aacute;lculo de costos, rendimientos de medios, materiales y m&aacute;quinas, en el proceso de ejecuci&oacute;n.</li>

                  </ul>
                </blockquote>                  </td>
              </tr>
              <tr>
                <th>&nbsp;</th>
              </tr>
            </table>

     
</body>


