
<table width="50%" border="0" cellspacing="8" cellpadding="0" align="center">
              <tr>
                <td></td>
              </tr>

              <tr>
                <th>&iquest;Que es la Fundacion INFOCAL?</th>
              </tr>
              <tr>
                <td><p>Instituci&oacute;n sin fines de lucro que forma  recursos humanos a nivel profesional y capacita a los y las  trabajadores / as que requieran ampliar sus conocimientos te&oacute;rico  pr&aacute;cticos dentro de sus especialidades.</p>                  </tr>
              <tr>

                <th><strong>OBJETIVOS:</strong>                </tr>
              <tr>
                <td>
                  <p>Los principios b&aacute;sicos y transversales en todos los niveles, que  sostienen el accionar de la Instituci&oacute;n y que determinan los servicios  de formaci&oacute;n profesional en los diversos &aacute;mbitos, son los siguientes:</p>			  </td>
              </tr>

              <tr>
                <th>Mision:</th>
              </tr>
              <tr>
                <td><blockquote>
                    <p align="center">Formar  personas &iacute;ntegras, emprendedoras, competentes en su campo laboral, que al mismo  tiempo sean profesionales comprometidos con el desarrollo de su comunidad,  regi&oacute;n y pa&iacute;s.</p>

                  <p align="center">Capacitar y  actualizar recursos humanos en habilidades y destrezas &uacute;tiles para mejorar su  desempe&ntilde;o laboral.</p>
                </blockquote></td>
              </tr>
              <tr>
                <th>Vision:</th>
              </tr>
              <tr>

                <td><blockquote>
                  <p align="center">Somos una instituci&oacute;n  reconocida a nivel nacional, l&iacute;der, pionera y competitiva en la educaci&oacute;n para  el trabajo, con calidad t&eacute;cnica y humana, que promueve el emprendimiento y compromiso con el desarrollo sostenible de la  comunidad, regi&oacute;n y pa&iacute;s.</p>
                </blockquote></td>
              </tr>
              <tr>

                <th>Financiamiento:</th>
              </tr>
              <tr>
                <td><blockquote>
                  <p>La Fundaci&oacute;n INFOCAL recibe el aporte mensual  del sector&nbsp;empresarial privado correspondiente al 1% de todos los  trabajadores consignados en planillas. </p>
                </blockquote></td>
              </tr>

            </table>
