 <html >
<BODY >

 <table width="60%" border="0" cellspacing="8" cellpadding="0" align="center">
              <tr>
                <td></td>

              </tr>
              <tr>
                <th>MECANICA INDUSTRIAL </th>
                </tr>
              <tr>
                <td><blockquote>
                  <p align="justify">La carrera  de Mec&aacute;nica Industrial es la soluci&oacute;n eficaz en cuanto a formaci&oacute;n de  profesionales t&eacute;cnicos se refiere, los mismos que responden a  exigencias actuales de poseer las destrezas y conocimientos  indispensables para un nivel superior que les permite involucrarse en  tareas competitivas como ser: </p>

                  <p align="justify">La planificaci&oacute;n, coordinaci&oacute;n, dise&ntilde;o, ejecuci&oacute;n, puesta en marcha de maquinaria industrial , y otros.</p>
                </blockquote>              </tr>
              <tr>
                <th><strong>T&iacute;tulo de Egreso: </strong>                </tr>

              <tr>
                <td>
                  <p>T&eacute;cnico/a Superior en Mec&aacute;nica Industrial </td>
              </tr>
              <tr>
                <th><strong>Perfil de/la egresado/a:</strong></th>
              </tr>

              <tr>
                <td><blockquote>
                  <p align="justify">El/la Egresado/a, est&aacute;  capacitado/a para realizar trabajos de fabricaci&oacute;n, dise&ntilde;o de m&aacute;quinas  y equipos, mantenimiento y reparaci&oacute;n de equipos industriales;  interpreta y ejecuta planos de fabricaci&oacute;n de piezas, operando m&aacute;quinas  y herramientas; realiza el mantenimiento y reparaci&oacute;n de equipos  industriales mediante la ejecuci&oacute;n de soldaduras de mantenimiento y  restauraci&oacute;n de piezas. </p>

               

                  <p align="justify">Adem&aacute;s planifica y ejecuta programas de mantenimiento de m&aacute;quinas y asume responsabilidades de mandos medios.</p>



                  </blockquote>                  </td>
              </tr>
              <tr>
                <th>&nbsp;</th>

              </tr>
      

                   
          </table>
     
</body>


