 <html >
<BODY >
<table width="50%" border="0" cellspacing="8" cellpadding="0" align="center">
              <tr>
                <td></td>

              </tr>
              <tr>
                <th>GASTRONOMIA </th>
                </tr>
              <tr>
                <td><blockquote>
                  <p align="justify">Formar t&eacute;cnicos superiores con  conocimientos t&eacute;cnicos espec&iacute;ficos que faciliten su desenvolvimiento en  la especialidad de Gastronom&iacute;a a nivel nacional e internacional. </p>

                  <p align="justify">Generar  en el estudiante el ejercicio de destrezas de decisi&oacute;n orientadas a  identificar las oportunidades y riesgos empresariales de los negocios  en gastronom&iacute;a, estimulando su creatividad para responder a los  desaf&iacute;os que se presenten a lo largo de su trayectoria profesional. </p>

                    <p align="justify">Proporcionar  al estudiante las habilidades profesionales del conocimiento vinculados  estrechamente con la pr&aacute;ctica, inculcando actitudes requeridas para  desempe&ntilde;ar actividades relacionadas con la gastronom&iacute;a </p>

                </blockquote>              </tr>

              <tr>
                <th><strong>T&iacute;tulo de Egreso: </strong>                </tr>
              <tr>
                <td>
                  <p>T&eacute;cnico/a Superior en Gastronomia </td>
              </tr>

              <tr>
                <th><strong>Perfil de/la egresado/a:</strong></th>
              </tr>
              <tr>
                <td><blockquote>
                  <p>El estudiante de la carrera de gastronom&iacute;a al culminar sus estudios estar&aacute; formado para trabajar como: </p>

                  <ul>
                    <li>Elaborador de alimentos de la cocina, pasteler&iacute;a y panader&iacute;a nacional e internacional </li>
                    <li>Planificador, elaborador y ejecutor de los diferentes servicios relacionados al &aacute;rea de gastronom&iacute;a </li>
                    <li>Organizador y administrador de eventos y de empresas gastron&oacute;micas </li>
                  </ul>

                    <p>Estara capacitado adem&aacute;s para:</p>
                    <ul>
                      <li>Identificar y clasificar cualitativa y cuantitativamente los insumos requeridos para la elaboraci&oacute;n de alimentos.</li>
                        <li>Componer, elaborar e interpretar las cartas del men&uacute;.</li>
                        <li>Realizar compras, acopios, almacenamiento y distribuci&oacute;n de insumos para la cocina.</li>

                        <li>Manejar y entender el comportamiento de los diferentes insumos tanto en  el proceso de la elaboraci&oacute;n como en el estado de conservaci&oacute;n y  almacenaje.</li>
                        <li>Aplicar conocimientos b&aacute;sicos de diet&eacute;tica en la elaboraci&oacute;n de alimentos seg&uacute;n normas nutricionales establecidas.</li>
                        <li>Utilizar con seguridad e higiene los equipos de cocina.</li>
                        <li>Montar mesas para diferentes eventos y realizar armados de banquetes.</li>

                        <li>Realizar trabajos b&aacute;sicos de mantenimiento en las instalaciones.</li>
                        <li>Manejar caja y presentar informes respectivos.</li>
                    </ul>
                    <p><strong>El campo de acci&oacute;n </strong>son  los establecimientos hoteleros, cl&iacute;nicas y hospitales, cruceros,  restaurantes, casinos, clubes sociales, panader&iacute;as, pasteler&iacute;as y todo  tipo de establecimientos que brinden servicio de alimentaci&oacute;n y bebidas                    </p>

                </blockquote>                  </td>
              </tr>
              <tr>
                <th>&nbsp;</th>
              </tr>
            </table>

     
</body>


