
 <table width="60%" border="0" cellspacing="8" cellpadding="0" align="center">
              <tr>
                <td></td>
              </tr>
              <tr>
                <th>ADMISION - I 2010 </th>
                </tr>
              <tr>

                <th>CARRERAS Y TURNOS OFERTADOS:</tr>
              <tr>
                <td>
                  <table width="100%" border="1" cellpadding="0" cellspacing="0">
                    <tr>
                      <td rowspan="2" bgcolor="#CCCCCC"><div align="center" class="td_tabla Estilo1">
                        <strong>CARRERAS</strong>
                        </div></td>

                      <td colspan="3" bgcolor="#CCCCCC" class="recuadro1"><div align="center" class="Estilo1"><strong>TURNOS</strong></div></td>
                      </tr>
                    <tr>
                      <td bgcolor="#CCCCCC" class="recuadro"><div align="center" class="Estilo1"><strong>Ma&ntilde;ana</strong></div></td>
                      <td bgcolor="#CCCCCC" class="recuadro"><div align="center" class="Estilo1"><strong>Tarde</strong></div></td>
                      <td bgcolor="#CCCCCC" class="recuadro"><div align="center" class="Estilo1"><strong>Noche</strong></div></td>

                    </tr>
                    <tr>
                      <td width="46%" bgcolor="#FFFFFF" class="recuadro1"><strong>Parvulario </strong></td>
                      <td width="19%" bgcolor="#666666" class="recuadro1"><div align="center" class="Estilo2">*</div></td>
                      <td width="19%" bgcolor="#666666" class="recuadro1"><div align="center" class="Estilo2">*</div></td>
                      <td bgcolor="#666666" class="recuadro1"><div align="center" class="Estilo4"><strong>*</strong></div></td>
                    </tr>

                    <tr>
                      <td bgcolor="#FFFFFF" class="recuadro1"><strong>Electrotecnia Industrial </strong></td>
                      <td bgcolor="#666666" class="recuadro1"><div align="center" class="Estilo4"><strong>*</strong></div></td>
                      <td bgcolor="#666666" class="recuadro1"><div align="center" class="Estilo4"><strong>*</strong></div></td>
                      <td bgcolor="#666666" class="recuadro1"><div align="center" class="Estilo4"><strong>*</strong></div></td>
                    </tr>
                    <tr>

                      <td bgcolor="#FFFFFF" class="recuadro1"><strong>Hoteler&iacute;a y Gastronomia</strong></td>
                      <td bgcolor="#666666" class="recuadro1"><div align="center" class="Estilo4"><strong>*</strong></div></td>
                      <td bgcolor="#666666" class="recuadro1"><div align="center" class="Estilo4"><strong>*</strong></div></td>
                      <td class="recuadro1"><div align="center"><span class="Estilo4"></span></div></td>
                    </tr>
                    <tr>
                      <td bgcolor="#FFFFFF" class="recuadro1"><strong>Instalaciones integrales y gas </strong></td>

                      <td bgcolor="#666666" class="recuadro1"><div align="center" class="Estilo4"><strong>*</strong></div></td>
                      <td class="recuadro1"><div align="center"><span class="Estilo4"></span></div></td>
                      <td bgcolor="#666666" class="recuadro1"><div align="center" class="Estilo4"><strong>*</strong></div></td>
                    </tr>
                    <tr>
                      <td bgcolor="#FFFFFF" class="recuadro1"><strong>Mecanica Automotriz </strong></td>
                      <td bgcolor="#666666" class="recuadro1"><div align="center" class="Estilo4"><strong>*</strong></div></td>

                      <td bgcolor="#666666" class="recuadro1"><div align="center" class="Estilo4"><strong>*</strong></div></td>
                      <td bgcolor="#666666" class="recuadro1"><div align="center" class="Estilo4"><strong>*</strong></div></td>
                    </tr>
                    <tr>
                      <td bgcolor="#FFFFFF" class="recuadro1"><strong>Mecanica Industrial </strong></td>
                      <td bgcolor="#666666" class="recuadro1"><div align="center" class="Estilo4"><strong>*</strong></div></td>
                      <td bgcolor="#666666" class="recuadro1"><div align="center" class="Estilo4"><strong>*</strong></div></td>

                      <td bgcolor="#666666" class="recuadro1"><div align="center" class="Estilo4"><strong>*</strong></div></td>
                    </tr>
                    <tr>
                      <td bgcolor="#FFFFFF" class="recuadro1"><strong>Turismo y Hoteleria </strong></td>
                      <td bgcolor="#666666" class="recuadro1"><div align="center" class="Estilo2">*</div></td>
                     <td bgcolor="#666666" class="recuadro1"><div align="center" class="Estilo4"><strong>*</strong></div></td>
                      <td class="recuadro1"><div align="center"></div></td>

                    </tr>
                  </table>                  </td>
              </tr>
              <tr>
                <th>EXAMENES DE INGRESO: (Estudiantes Nuevos)</th>
              </tr>
              <tr>
                <td><table width="100%" border="1" cellpadding="0" cellspacing="0">

                    <tr>
                      <td width="36%" bgcolor="#CCCCCC" class="recuadro1"><strong>Parvulario</strong>
                        <strong>&nbsp;(Asistencia &nbsp;Integral &nbsp;Infantil)</strong></td>
                      <td width="31%" bgcolor="#FFFFFF" class="recuadro1"><div align="center">
                        <strong>Los siguientes viernes:</strong><br /> 
                          4 y 17 de diciembre de 2009<br />

                          15 y 22 de enero de 2010</div></td>
                      <td width="33%" bgcolor="#FFFFFF" class="recuadro1"><div align="center">
                        Aula:&nbsp; 102<br />
                        Hora:&nbsp; 09:00
                      </div></td>
                      </tr>

                    <tr>
                      <td rowspan="2" bgcolor="#CCCCCC" class="recuadro1"><strong>Mec&aacute;nica&nbsp; Automotriz</strong></td>
                      <td height="28" bgcolor="#FFFFFF" class="recuadro1"><div align="center">Viernes 11 &ndash;12 &ndash; 09 </div></td>
                      <td bgcolor="#FFFFFF" class="recuadro1"><div align="center">
                        Taller<br />

                        Hora:&nbsp; 15:00
                      </div></td>
                      </tr>
                    <tr>
                      <td class="recuadro1"><div align="center">S&aacute;bado 16 &ndash; 01&ndash; 10</div></td>

                      <td class="recuadro1"><div align="center">
                        Taller<br />
                        Hora:&nbsp; 15:00
                      </div></td>
                      </tr>
                  </table></td>
              </tr>
              <tr>

                <td><p><strong>Los  estudiantes que den el examen de ingreso deben considerar:</strong></p>                  
                <blockquote>
<ul>
  <li> Averiguar notas del examen de ingreso  las que ser&aacute;n publicadas transcurridos dos d&iacute;as h&aacute;biles.</li>
  <li>
    Los/as aprobados/as podr&aacute;n  inscribirse inmediatamente, su plaza ser&aacute; mantenida hasta una semana antes del  inicio de clases; despu&eacute;s se dispondr&aacute; siguiendo la lista con los promedios  menores hasta llenar el cupo.</li>

  <li>
    Personas reprobadas con menos de 51  pueden inscribirse la &uacute;ltima semana de inscripciones de acuerdo a la cantidad  de plazas existentes en la carrera.</li>
  </ul>
<strong>Carreras  con inscripci&oacute;n directa:</strong></blockquote>
                  <blockquote>
                    <ul>
                      <li>Electrotecnia Industrial.</li>

                            <li>Instalaciones Integrales y de gas.</li>
                            <li>Mec&aacute;nica Industrial.</li>
                            <li>Turismo Hoteler&iacute;a.</li>
                        </ul>
                    </blockquote></td>
              </tr>

              <tr>
                <th>INICIO DE INSCRIPCIONES:</th>
              </tr>
              <tr>
                <td><blockquote>
                  <p><strong>Estudiantes antiguos:</strong></p>
                  <ul>
                    <li>Del 11 al 22 de enero de 2010.</li>

                    <li>Consultar  cronograma con Jefaturas de Carrera.</li>
                    </ul>
                  <strong>Procedimiento:</strong></blockquote> 
                  <blockquote>
                    <ul>
                      <li>Recoger el bolet&iacute;n.</li>
                        <li>Preparar la hoja de toma de asignaturas  seg&uacute;n oferta (Verificar en el bolet&iacute;n)</li>

                        <li>Recabar autorizaci&oacute;n de Jefatura de  Carrera.</li>
                        <li>Apersonarse a Inscripciones y hacer  registrar.</li>
                        <li>Pasar a Caja a <strong>cancelar Matr&iacute;cula y  Primera Pensi&oacute;n</strong></li>
                        <li>Pasar a ventanilla 6 para acceder  a&nbsp; la credencial</li>

                        </ul>
                    <p><strong>Tomar  en cuenta que a partir del primer d&iacute;a de clases ya hay recargo en la Matr&iacute;cula. </strong></p>
                  </blockquote>                    </td>
              </tr>
              <tr>
                <th>REQUISITOS PARA TODAS LAS CARRERAS : </th>

              </tr>
              <tr>
                <tD>&nbsp;<strong>Documentaci&oacute;n: </strong>
                  <ul>
                    <li>Fotocopia del T&iacute;tulo de Bachiller  (Original para verificar)</li>
                    <li>Fotocopia Certificado de Nacimiento</li>

                    <li>Fotocopia C&eacute;dula de Identidad  (Original para verificar)</li>
                    <li>Llenar y firmar el Contrato de  Inscripci&oacute;n</li>
                  </ul>
                  <p><strong>Otros:</strong></p>
                  <ul>
                    <li>2   Fotograf&iacute;as 3x4, fondo azul.</li>

                    <li>Pagar  el costo de la credencial.</li>
                    <li>Ropa  de trabajo o uniforme (Al iniciar las clases se dar&aacute;n indicaciones por parte de  Jefatura de Carrera).</li>
                  </ul>              </tr>
              <tr>
                <th>COSTO:</th>
              </tr>

              <tr>
                <td>&nbsp;</th>
                  <table width="100%" border="1" cellpadding="0" cellspacing="0">
                    <tr>
                      <td bgcolor="#CCCCCC" class="recuadro1"><div align="center"><strong>CARRERA</strong></div></td>
                      <td bgcolor="#CCCCCC" class="recuadro1"><div align="center"><strong>Matr&iacute;cula Bs.</strong></div></td>
                      <td bgcolor="#CCCCCC" class="recuadro1"><div align="center"><strong>Primera Pensi&oacute;n<br />

                         Primer Semestre Bs. </strong></div></td>
                    </tr>
                    <tr>
                      <td width="36%" bgcolor="#FFFFFF" class="recuadro"><strong>Parvulario (Asistencia Integral Infantil)</strong></td>
                      <td width="104" class="recuadro"><div align="center">200</div></td>
                      <td width="151" class="recuadro"><div align="center">286</div></td>
                    </tr>

                    <tr>
                      <td bgcolor="#FFFFFF" class="recuadro"><strong>Mec&aacute;nica automotriz</strong></td>
                      <td width="104" class="recuadro"><div align="center">200</div></td>
                      <td width="151" class="recuadro"><div align="center">440</div></td>
                    </tr>
                    <tr>
                      <td bgcolor="#FFFFFF" class="recuadro"><strong>Hoteler&iacute;a &amp; Gastronom&iacute;a</strong></td>

                      <td width="104" class="recuadro"><div align="center">200</div></td>
                      <td width="151" class="recuadro"><div align="center">550</div></td>
                    </tr>
                    <tr>
                      <td bgcolor="#FFFFFF" class="recuadro"><strong>Electrotecnia Industrial</strong></td>
                      <td width="104" class="recuadro"><div align="center">200</div></td>
                      <td width="151" class="recuadro"><div align="center">319</div></td>

                    </tr>
                    <tr>
                      <td bgcolor="#FFFFFF" class="recuadro"><strong>Instalaciones Integrales y de gas</strong></td>
                      <td width="104" class="recuadro"><div align="center">200</div></td>
                      <td width="151" class="recuadro"><div align="center">429</div></td>
                    </tr>
                    <tr>

                      <td bgcolor="#FFFFFF" class="recuadro"><strong>Mec&aacute;nica Industrial</strong></td>
                      <td width="104" class="recuadro"><div align="center">200</div></td>
                      <td width="151" class="recuadro"><div align="center">396</div></td>
                    </tr>
                    <tr>
                      <td bgcolor="#FFFFFF" class="recuadro"><strong>Turismo Hoteler&iacute;a</strong></td>

                      <td width="104" class="recuadro"><div align="center">200</div></td>
                      <td width="151" class="recuadro"><div align="center">396</div></td>
                    </tr>
                  </table>                </tr>
              <tr>
                <th>INICIO DE CLASES: </th>
              </tr>

              <tr>
                <td><blockquote>
                  <p>22 de Febrero de 2010  (Todas las carreras)</p>
                </blockquote></td>
              </tr>
              <tr>
                <th>&nbsp;</th>
              </tr>

            </table>
