<html>
<body>
 <table width="60%" border="0" cellspacing="8" cellpadding="0" align="center">

              <tr>
                <td></td>
              </tr>
              <tr>
                <th>BIENESTAR ESTUDIANTIL </th>
              </tr>
              
              <tr>
                <td><p>El  &aacute;rea de Bienestar Estudiantil es la extensi&oacute;n encargada de velar por el  desarrollo integral de los/las estudiantes mediante la orientaci&oacute;n, el apoyo y  el seguimiento pedag&oacute;gico, psicol&oacute;gico, socio econ&oacute;mico, socio cultural<strong> </strong>y m&eacute;dico.</p>

                  <p>En  este sentido, el &aacute;rea dedicado al bienestar de los/las estudiantes se centra en  la problem&aacute;tica humana desde una perspectiva de identificaci&oacute;n con los  intereses, aspiraciones y necesidades reales de los estudiantes tomando en  cuenta que el objetivo primordial es lograr el bienestar integral.</p>
                  <p>Desde  este concepto, cada instituci&oacute;n educativa que vela por el bienestar de sus  estudiantes, busca desarrollar el &aacute;rea especializado y centrado en ello,  tomando en consideraci&oacute;n la realidad de la poblaci&oacute;n estudiantil y en la de la  instituci&oacute;n misma.</p>
                  <p>Partiendo de esta premisa, el &Aacute;rea de Bienestar Estudiantil  (&aacute;rea perteneciente al Departamento de Bienestar Institucional) de la Fundaci&oacute;n Infocal  es imprescindible y debe partir de la idea de trabajar en el desarrollo de  actividades en distintas &aacute;reas, para que los/las estudiantes de la instituci&oacute;n  adquieran sentido de pertenencia, adem&aacute;s de una referencia en cuanto a procesos  inherentes a la formaci&oacute;n profesional y personal como herramienta de  autorregulaci&oacute;n, autogesti&oacute;n y autonom&iacute;a que permita la permanencia de los/las  estudiantes en la instituci&oacute;n durante toda su formaci&oacute;n profesional y la  posterior inserci&oacute;n laboral exitosa. </p>                </tr>

              <tr>
                <th><strong>Objetivos Generales:</strong></tr>
              <tr>
                <td><ul>
                  <li>
                    <div align="justify">Desarrollar programas y       brindar servicios orientados a beneficiar a el/la estudiante,       contribuyendo tanto en su formaci&oacute;n profesional como en su desarrollo       humano, en un ambiente de respeto, fraternidad y cooperaci&oacute;n<strong>.</strong></div>

                  </li>
                  <li>
                    <div align="justify">Proveer un canal activo en la       relaci&oacute;n de los/las estudiantes y la instituci&oacute;n, prestando el apoyo       necesario en la concreci&oacute;n de sus iniciativas, adem&aacute;s de incentivar el       desarrollo de servicios de apoyo psicol&oacute;gico, acad&eacute;mico, medico, social y       cultural.</div>
                  </li>
                  <li>

                    <div align="justify">Velar por el desarrollo       personal y el bienestar social e individual de la comunidad estudiantil       mediante procesos de calidad para lograr el desarrollo y armon&iacute;a del clima       institucional tanto acad&eacute;mico como administrativo, en base a las normas       vigentes en la        Fundaci&oacute;n Infocal; as&iacute; como la integraci&oacute;n activa de la       misma con la sociedad.</div>
                  </li>
                </ul></td>
              </tr>
              <tr>

                <th><strong>Objetivos Espec&iacute;ficos</strong>:                  </th>
              </tr>
              <tr>
                <td><ul>
                  <li>
                    <div align="justify">Promover el desarrollo acad&eacute;mico de los/las estudiantes. </div>

                  </li>
                  <li>
                    <div align="justify">Apoyar a el/la estudiante       ante conflictos personales, que en ocasiones estar&iacute;an interfiriendo en su       adecuado desempe&ntilde;o acad&eacute;mico. </div>
                  </li>
                  <li>
                    <div align="justify">Brindar a el/la       estudiante una serie de actividades culturales, sociales deportivas y       recreativas, que apoyen su formaci&oacute;n integral. </div>

                  </li>
                  <li>
                    <div align="justify">Ofrecer a el/la       estudiante actividades que le permitan desarrollar valores y actitudes       humanistas, acordes a la filosof&iacute;a institucional. </div>
                  </li>
                  <li>
                    <div align="justify">Desarrollar tareas,       que coadyuven a los objetivos institucionales referidos a la poblaci&oacute;n       estudiantil y a la identificaci&oacute;n de los/las estudiantes con la       instituci&oacute;n.</div>

                  </li>
                  <li>
                    <div align="justify">Procurar el acceso       a diferentes tipos de programas de becas.</div>
                  </li>
                  <li>
                    <div align="justify">Servir como canal       informativo en cuanto a la bolsa de trabajo dentro y fuera de la       instituci&oacute;n.</div>
                  </li>

                </ul></td>
              </tr>
              <tr>
                <th><strong>Areas de atenci&oacute;n:</strong></th>
              </tr>
              <tr>
                <td><blockquote>
                  <p>Las &aacute;reas de atenci&oacute;n son cuatro, cada una de las  cuales comprende un n&uacute;mero variable de actividades que les corresponden:</p>

                  <ol start="1" type="1">
                    <li><a href="bienestar_a.php.htm" tppabs="http://www.infocalcbba.edu.bo/bienestar_a.php">&Aacute;rea de orientaci&oacute;n       psicopedag&oacute;gica</a></li>
                    <li><a href="bienestar_b.php.htm" tppabs="http://www.infocalcbba.edu.bo/bienestar_b.php">&Aacute;rea de servicio       social</a></li>
                    <li><a href="bienestar_c.php.htm" tppabs="http://www.infocalcbba.edu.bo/bienestar_c.php">&Aacute;rea de salud</a></li>
                    <li><a href="bienestar_d.php.htm" tppabs="http://www.infocalcbba.edu.bo/bienestar_d.php">&Aacute;rea de difusi&oacute;n       art&iacute;stica, cultural y deporte</a></li>

                  </ol>
                  </blockquote></td>
              </tr>
              <tr>
                <th><strong>FORMAS  DE ACCESO A LOS SERVICIOS Y/O ACTIVIDADES</strong></th>
              </tr>
			  <tr>
                <td><p>Para acceder a los servicios y/o actividades, se  necesita ser estudiante regular de la Fundaci&oacute;n Infocal,  lo cual habilita a todos/as aquellos estudiantes que requieran los servicios,  para solicitarlos de las siguientes maneras:</p>

                  <ul type="square">
                    <li>Directamente, para       lo cual el/la estudiante acude a oficinas de Bienestar Institucional, o       participa en las actividades organizadas. </li>
                    <li>Por derivaci&oacute;n, que       es intermediada por los/as Coordinadores de Carreras, docentes y otros       funcionarios/as de la Fundaci&oacute;n Infocal.</li>
                  </ul></td>
              </tr>

			   <tr>

                <th>&nbsp;</th>
              </tr>
              
              

            </table>
            </body>
            </html>